.list-item {
  display: flex;
  margin-top: 16px;
}

.list-item-right {
  justify-content: flex-end;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #000;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

.list-content {
  background-color: greenyellow;
  padding: 10px;
  border-radius: 10px;
  max-width: 45%;
}

.list-item-right .avatar{
  margin-right: 0px;
  margin-left: 10px;
}

.withdraw {
  text-align: center;
  font-size: 14px;
  color: gray;
  margin: 10px 0;
}